# Ignore the build artifacts
main
*.exe
*.out

# Ignore dependencies directory if using vendoring
vendor/

# Ignore Go files that are not needed in production
*.log
*.tmp

# Ignore the .git directory
.git/

# Ignore any test files
*_test.go

# Ignore IDE/Editor folders
.idea/
.vscode/

# Ignore Dockerfile if you don't want to include it (usually you would include it)
Dockerfile
